@{
    var buildNumber = "#build.number#";
}

@if (!buildNumber.ToString().EndsWith(".number#")) // If the placeholder value wasn't replaced, then it doesn't need to be displayed.
{
    Style.Require("Lombiq.Hosting.Deployments.BuildNumber.Admin");
    
    <div id="lombiq-hosting-deployments-buildnumber">@T("Build: {0}", buildNumber)</div>
}